body {
  font-family: "Raleway", sans-serif;
  margin: auto;
  max-width: 100%;
}

.header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}

.grid-container {
  display: grid;
}

.flex-container {
  display: flex;
}

div {
	border-style: groove;
}

img {
  float: left;
}

/*footer*/

.social-media {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 30px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}